h1#logo, #logo1, #logo2, #logo3 {
	position:absolute;
	top:37px;
	left:0;
}


h1#logo a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/logo.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

h1#logo1 a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/logo1.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

h1#logo2 a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/logo2.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

h1#logo3 a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/logo3.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

/* ----------------------------------------------------------------- */

h1#mrrobot {
	position:absolute;
	top:37px;
	left:0;
}

h1#mrrobot a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/thumbs/mrrobot/logo.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

/* ----------------------------------------------------------------- */

h1#simpsons {
	position:absolute;
	top:37px;
	left:0;
}

h1#simpsons a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/thumbs/simpsons/logo.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}

/* ----------------------------------------------------------------- */

h1#westworld {
	position:absolute;
	top:37px;
	left:0;
}

h1#westworld a {
	float:left;
	width:239px;
	height:49px;
	background:url('../images/thumbs/westworld/logo.png') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}